*{
    margin: 0;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 20px 50px 100px 1px;
    background-color: aquamarine
}
.grid-item{
    background-color: beige;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color: bisque;
    margin: 4px;
}
.nav-item-container{ 
    display: flex;
    justify-content: space-evenly;
}